<section class="hero">
  <div class="overlay"></div>
  <div class="hero-content">
    <p>Techie, Developer, Designer</p>
    <h1>Brian Kelly</h1>
  </div>
</section>

<section id="highlights" class="highlights-section">
  <div class="highlights-container">
    <div class="highlight-item">
      <img src="assets/icons/code.png" alt="Icon 1" />
    </div>

    <div class="highlight-item">
      <img src="assets/icons/database.png" alt="Icon 2" />
    </div>

    <div class="highlight-item">
      <img src="assets/icons/design.png" alt="Icon 3" />
    </div>

    <div class="highlight-item">
      <img src="assets/icons/brush.png" alt="Icon 4" />
    </div>
  </div>
</section>
