.experience-section {
  padding: 80px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 60px;
}

/* TIMELINE */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e5e5e5;
  left: 50%;
  margin-left: -1px;
}

.timeline > li {
  position: relative;
  margin-bottom: 70px;
}

.timeline-panel {
  background: #fff;
  padding: 20px 25px;
  width: 45%;
  border-radius: 4px;
  position: relative;
}

.timeline > li .timeline-panel {
  float: left;
  text-align: right;
}

.timeline > li.timeline-inverted .timeline-panel {
  float: right;
  text-align: left;
}

.timeline-image {
  position: absolute;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  background: #fff;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  z-index: 10;
  top: 0;
}

.timeline > li:after {
  content: "";
  display: block;
  clear: both;
}

