<div class="timeline">

    <!-- ENTRY 1 (LEFT) -->
    <div class="timeline-entry left">
        <div class="content">
            <h3>JANUARY 2024 – OCTOBER 2025</h3>
            <h4>Associate Software Engineer at REI</h4>
            <p>Contracted to the FDA. Worked as part of a larger team developing key components to improve platform functionality during a major service upgrade. Delivered efficient solutions tailored to client needs.</p>
        </div>

        <div class="icon">
            <img src="assets/Experience/fda.png">
        </div>
    </div>

    <!-- ENTRY 2 (RIGHT) -->
    <div class="timeline-entry right">
        <div class="icon">
            <img src="assets/Experience/taxi.png">
        </div>

        <div class="content">
            <h3>NOVEMBER 2022 – DECEMBER 2023</h3>
            <h4>Took time off for traveling</h4>
            <p>Traveled across the continental United States.</p>
        </div>
    </div>

    <!-- ENTRY 3 (LEFT) -->
    <div class="timeline-entry left">
        <div class="content">
            <h3>APRIL 2021 – NOVEMBER 2022</h3>
            <h4>Associate Full Stack Software Engineer at Revature</h4>
            <p>Developed UI using Angular, Bootstrap, HTML, JavaScript, and CSS. Utilized Jenkins and Docker pipelines for continuous integration and deployment.</p>
        </div>

        <div class="icon">
            <img src="assets/Experience/revature.jpg">
        </div>
    </div>

    <!-- ENTRY 4 (RIGHT) -->
    <div class="timeline-entry right">
        <div class="icon">
            <img src="assets/Experience/nasa.png">
        </div>

        <div class="content">
            <h3>JUNE 2020 – APRIL 2021</h3>
            <h4>Software Developer at NASA</h4>
            <p>Worked with AR technology to help astronauts during exploration. Created speech-to-text software enabling effortless field notes.</p>
        </div>
    </div>

    
    <!-- ENTRY 5 (LEFT) -->
    <div class="timeline-entry left">
        <div class="content">
            <h3>APRIL 2021 – NOVEMBER 2022</h3>
            <h4>Data Scientist at National Science Foundation</h4>
            <p> Analyzed and cleaned administrative data. Created Visualized Data to help the public make informed decisions</p>
        </div>

        <div class="icon">
            <img src="assets/Experience/nsf.png">
        </div>
    </div>

</div>
