<section class="academics-section">
  <h2 class="section-title">ACADEMICS</h2>
  <p class="section-subtitle">Awards and Recognitions</p>

  <div class="academics-content">
    <div class="text-column">
      <h3>PERSONAL</h3>
      <p>Technical Diploma in Computer Programming</p>
      <p>Bachelor's Degree in History</p>
      <p>NASA SUIT'S Competition 2020-2021 <a href="https://www.youtube.com/watch?v=Zptg8VxYDSg"> Developer</a></p>
      <p>National Science Foundation Internship Publications: </p>
      <p>1. <a href="https://bniajfi.org/2020/09/02/an-analysis-of-baltimore-city-e-scooter-distribution/">Data Analysis</a> Last Mile Transportation</p>
      <p>2. <a href="https://bniajfi.org/2021/01/12/developing-an-index-for-communities-underserved-by-transit/">Data Analysis</a> Communitiies Underserved by Transit</p>

      <h3>UNIVERSITY OF BALTIMORE</h3>
      <p>Top 20% Top Public University in America, and #3 in Maryland in 2023</p>
      <p>Named to the list of Best Regional Universities -North(2024)</p>
    </div>

    <div class="image-column">
      <img src="assets/Academic/UB.jpg" alt="Graduation Photo">
    </div>
  </div>
</section>
