<nav [class.scrolled]="isScrolled">
  <div class="nav-container">
    <div class="logo">Brian Kelly</div>
    <ul class="nav-links">
      <li><a href="#experience">Experience</a></li>
      <!-- <li><a href="#portfolio">Portfolio</a></li> -->
      <li><a href="#skills">Skill</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="assets/resume.pdf" download>Resume</a></li>
    </ul>
  </div>
</nav>

<main>
  <app-hero></app-hero>
  <app-about id="about"></app-about>
  <app-experience id="experience"></app-experience>
  <!-- <app-portfolio id="portfolio"></app-portfolio> -->
  <app-academic id="academic"></app-academic>
  <app-skills id="skills"></app-skills>
  <app-contact id="contact"></app-contact>
</main>

<footer class="footer">
  <p>Copyright © Brian Kelly 2025</p>

  <div class="footer-icons">
    <a href="https://www.linkedin.com/in/brian-k-579338215/" target="_blank">
      <img src="/assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
    <a href="https://github.com/bkelly96" target="_blank">
      <img src="/assets/icons/github.png" alt="GitHub" />
    </a>
  </div>
</footer>
