<nav [class.scrolled]="isScrolled">
  <div class="nav-container">
    <div class="logo">Brian Kelly</div>
    <ul class="nav-links">
      <li><a href="#about">Experience</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">Skill</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">Resume</a></li>
    </ul>
  </div>
</nav>

<main>
  <app-hero></app-hero>
  <app-about id="about"></app-about>
  <app-portfolio id="portfolio"></app-portfolio>
  <app-contact id="contact"></app-contact>
</main>
