<section class="about-container">
  <div class="about-content">
    <div class="about-image">
      <img src="assets/profile.png" alt="About Me Photo" />
    </div>

    <div class="about-text">
      <h2>A LITTLE ABOUT ME</h2>
      <p class="subtitle">What I’ve done and what I’m up to</p>

      <h3>FOR FUN…</h3>
      <p>
        I'm currently working on a stat tracking application for a card game to
        help keep track of efficiencies.
      </p>
      <p>
        I do freelance work helping customers enhance and improve their websites
        and store fronts.
      </p>
      <p>
        Participated in the UBalt Astrobees NASA Suits 2020-2021 design
        challenge. I was an application developer creating Augmented Reality for
        astronauts going on the Artemis mission
      </p>
      <p>I paint and rehabilitate models as a way to unwind.</p>
      <h3>FOR WORK…</h3>
      <p>I've worked at a start up and for the government.</p>
      <p>
        I have a lot of professional experience with Java and Typescript. I
        spend my free time learning more.
      </p>
      <p>
        Before becoming a developer I worked in client retention. I have a
        strong EQ in addition to my technical experience.
      </p>
      <p>
        I had 2 internships when getting my Technical Diploma, one with NASA and
        the other with the National Science Foundation.
      </p>
    </div>
  </div>
</section>
