.about-container {
  background: #f6f6f6;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.about-content {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
}

.about-image img {
  width: 500px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.about-text {
  max-width: 550px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 5px;
  text-align: left;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.about-text h3 {
  margin-top: 20px;
  font-size: 20px;
}
