.skills-section {
  padding: 80px 0;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.skills-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.skills-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 60px;
}

.skills-columns {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.skills-col {
  width: 28%;
}

.icon-circle {
  width: 90px;
  height: 90px;
  background-color: #30AFCB;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
}


.skills-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.skills-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-col li {
  margin: 6px 0;
  line-height: 1.4;
}
